# Deny all by default
*

# Allow only what's needed for build
!package.json
!pnpm-lock.yaml
!.npmrc
!app/
!server/
!shared/
!nuxt.config.ts
!tsconfig.json
!.nuxtrc
!drizzle.config.ts
!deploy/docker/docker-entrypoint.sh
