# Nuxt
.nuxt
.output
dist

# Node
node_modules
.pnpm-store

# Environment
.env
.env.local
.env.*.local

# Data
data/*.db
data/*.db-journal
data/*.db-wal

# Dev environment
.devenv
devenv.lock

# IDE
.vscode
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test reports
reports/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# Temporary files
*.tmp
*.tmp.*
