# Nuxt
.nuxt
.output
dist

# Node
node_modules

# Environment
.env
.env.local
.env.*.local

# Data
data/*.db
data/*.db-journal
data/*.db-wal

# Dev environment
.devenv
devenv.lock

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
